.nav_bar
{
	background: rgba(0,0,0,0.5);
	width: 100%;
	height:3em;
	top: 0px;
	position: fixed;
}
.menu>ul>li
{
	display: inline;
	list-style: none;
	padding: .7em;
}
.menu>ul>li>a
{
	text-decoration: none;
	color: white;
}
.menu
{
	text-align: center;
}
.menu>ul>li:hover
{
	background: rgba(0,0,0,.5);
}
.menu>ul>li>.Blacksmithy_ref
{
	color: #f2cbbc;
}
.menu>ul>li>.Foundry_ref
{
	color: #6ab835;
}
.menu>ul>li>.Fitting_ref
{
	color: #F5F5F5;
}
.menu>ul>li>.Machine_ref
{
	color: #B8B8B8;
}
.menu>ul>li>.Welding_ref
{
	color: #e5e5ff;
}
.menu>ul>li>.Electric_ref
{
	color: #D8BFD8;
}
.menu>ul>li>.Carpentry_ref
{
	color: #de8704;
}
body
{
	margin-top: 3em;
	background-color: black;
	padding: 0px;
        font-size: 1.1em;
}
.Jobs
{
	float: right;
	height: 10%; 
	width: 50%;
	border: 1px solid black;
        background-color: white;
}
#summer-workshop-training
{
	text-align: center;
	color: #e6af4b;
	font-size: 3em;
}
.shop
{  
  color: black; 
  font-size : 3em;
}
.Blacksmithy, .Foundary, .Fitting, .Machine, .Welding, .Electric, .Carpentry
{
	padding: 1% 10%;
}
.Blacksmithy
{ 
  color: black;
  background-image: url("bls.png");
  background-color: #c93c32;
}
.Foundary
{ 
  color: white;
  background-image: url("fou.png");
  background-color: #4a3618;
}
.Fitting
{
        color: #0b104d;
        background-image: url("fit.png");
	background-color: #727373;
}
.Machine
{
        color: #e0dde0;
        background-image: url("mac.png");
  	background-color: #3f3f40;
}
.Welding
{
        color: #ddd9eb;
        background-image: url("wel.png");
	background-color: #615d69;
}
.Electric
{
        color: #0e0e2b;
        background-image: url("ele.png");
	background-color: #D8BFD8;
}
.Carpentry
{
	background-color: #6c2505;
	background-size: 40px 160px, 60px 29px, 27px 27px;
	color: #e6af4b;
	background-image: linear-gradient(94deg,rgba(91,33,5,.1) 0%,rgba(83,29,4,0.32) 23%,rgba(74,24,3,.41) 47%,rgba(80,27,5,0.44) 70%,rgba(81,27,5,0.59) 74%,rgba(93,33,4,0.2) 83%,rgba(115,43,3,.5) 100%), linear-gradient(90deg, #541c09 50%, transparent 50%), linear-gradient(90deg, #7a2e00 50%, #632401 50%);
}
